<p class="text-success">
  <%= flash[:notice] %>
</p>
  <div class="container px-5 px-sm-0">
    <div class="row">
      <div class="col-md-3">
        <h2>User info</h2>
        <p><%= image_tag @books.user.get_profile_image(100,100) %></p>
        <table>
          <tbody>
            <tr>
              <th>name</th>
              <th><%= @books.user.name %></th>
            </tr>
            <tr>
              <th>introduction</th>
              <th><%= @books.user.introduction %></th>
            </tr>
          </tbody>
        </table>
        <div class="row">
          <p>

              <%= link_to edit_user_path(@books.user_id) do %><p><i class="fas fa-user-cog"></i></p>
              <% end %>

          </p>
        </div>
      <%= render 'create', book: @books %>
      </div>
      <div class="col-md-8 offset-md-1">
        <h2>Book detail</h2>
        <table>
          <tbody>
            <tr>
              <td><%= link_to user_path(@books.user_id) do %><%= image_tag @books.user.get_profile_image(100,100) %></br><%= @books.user.name %><% end %></td>
              <td><%= link_to book_path do %><%= @books.title %><% end %></td>
              <td><%= @books.body %></td>
              <td><% if @books.user == current_user %><%= link_to "Edit",edit_book_path(@books.id) %><% end %></td>
              <td><% if @books.user == current_user %><%= link_to "Destroy","/books/#{@books.id}", method: :delete, "data-confirm" => "本当に削除しますか？" %><% end %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
